<body>
  <main>
    <section class="d-flex justify-content-between border-top-bot pt-4">
      <div class="">
        <h3>Education</h3>
      </div>
      <ul>
        <li>
          <p>
            Completed primary education at Sta. Cruz Elementary School in 2014.
          </p>
        </li>
        <li>
          <p>
            Completed secondary education at Angeles City National Trade School
            in 2019
          </p>
        </li>
        <li>
          <p>
            Completed upper secondary education at Angeles City National Trade
            School in 2021
          </p>
        </li>
        <li>
          <p>
            Currently in my 3rd year as a college student at Holy Angel
            University, pursuing a Bachelor of Science in Information Technology
            with a major in Web Development.
          </p>
        </li>
      </ul>
    </section>
  </main>
</body>
