<body>
  <main class="d-flex  pt-4">
    <section class="d-flex   justify-content-between">
      <div class="padding-right">
        <h3>Achievements</h3>
      </div>

      <div>
        <ul>
          <li>
            <p>
              "Hold a National Certificate Level 2 (NC II) in AutoCAD,
              recognized by the Technical Education and Skills Development
              Authority (TESDA) in 2020, for demonstrating competency in the use
              of AutoCAD software and application."
            </p>
          </li>
          <li>
            <p>Certificate Of Academic Excellence 2020 - 2021</p>
            <p>
              "Recognized as a Dean's Lister for outstanding academic
              performance in BSIT major in Web development during 1st
              semester/2020 - 2021"
            </p>
          </li>
          <li>
            <p>Certificate Of Academic Excellence 2021 - 2022</p>
            <p>
              "Recognized as a Dean's Lister for outstanding academic
              performance in BSIT major in Web development during 1st
              semester/2021 - 2022"
            </p>
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>
